// body {
//   margin: 0;
//   padding: 0;
  // display: flex;
// }

/* header {
  color: #fff;
  margin: 0;
  width: 25%;
  display: flex;
  align-items: stretch;
  justify-content: center;
  background:linear-gradient(to left, #ff8882, #d8ad9c);
} */

// .menu {
//   list-style: none;
//   flex-direction: column;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// nav ul li {
//   display: inline;
//   padding: 2rem;
// }

// nav a {
//   color: #fff;
//   text-decoration: none;
// }

// * {
//   margin: 0;
//   padding: 0;
// }
// .fullh {
//   height: 100vh;
//   margin: 0;
//   padding: 0;
// }
// .botton:hover {
//   height: 110;
//   background-color: #d8ad9c;
//   border-radius: 10px;
//   padding: 3px 3px;

// }
// #home-img {
//   height: 100%;
// }
.fondo {
  background:linear-gradient(to left, #ff8882, #d8ad9c);
}

.img-fondo {
   /* The image used */
   background-image: url("../img/imagen-inicio.PNG");

   /* Full height */
   height: 100%;
 
   /* Center and scale the image nicely */
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}