
/* table {
  font-family: 'Heebo', sans-serif;
  font-size: 85%
} */
.card-body {
padding: 0 1rem;
}

.grid {
  display: grid;
  grid-template-rows: 17.5rem 17.5rem;
  grid-template-columns: 20rem 20rem 20rem;
  justify-content: center;
  align-content: center;
  margin: 2rem;
  column-gap: 0.25rem;
  row-gap: 0.25rem;
}

.grid-item {
  border: 1px solid #aaa;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: stretch;
  color: #aaa;
}

.full-width{
  width: 17rem;
  text-align:center;
  vertical-align:middle;
}
.full-width:hover {
  transform: rotateY(50deg);
}

#badge-new {
  font-size: 0.65rem;
}

.descripcion-lentes {
  font-size: 0.8rem;
}